# Server
PORT=3001
NODE_ENV=development

# Prisma / Microsoft SQL Server
DATABASE_URL="sqlserver://localhost:1433;database=kyc_db;user=sa;password=YourStrong%21Passw0rd;encrypt=false;trustServerCertificate=true"

# Better Auth
BETTER_AUTH_SECRET=cambia_este_secreto_por_uno_seguro_min_32_chars
BETTER_AUTH_URL=http://localhost:3001

# Frontend origin for CORS
FRONTEND_URL=http://localhost:3000
